<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdd.designmall.mbp.mapper.MmsChatMapper">

    <resultMap id="BaseResultMap" type="com.qdd.designmall.mbp.model.MmsChat">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="senderId" column="sender_id" jdbcType="BIGINT"/>
            <result property="senderType" column="sender_type" jdbcType="TINYINT"/>
            <result property="receiverId" column="receiver_id" jdbcType="BIGINT"/>
            <result property="receiverType" column="receiver_type" jdbcType="TINYINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="sendDate" column="send_date" jdbcType="TIMESTAMP"/>
            <result property="readState" column="read_state" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sender_id,sender_type,
        receiver_id,receiver_type,content,
        send_date,read_state
    </sql>
    <select id="queryMessageList" resultType="com.qdd.designmall.mbp.dto.MmsChatShopInfoDTO">

    </select>
</mapper>
