<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdd.designmall.mbp.mapper.MmsChatMessageMapper">

    <resultMap id="BaseResultMap" type="com.qdd.designmall.mbp.model.MmsChatMessage">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="groupUserId" column="group_user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,group_user_id,create_time,
        status,message,type
    </sql>
    <select id="queryLastMsgByGroupId" resultType="com.qdd.designmall.mbp.dto.MmsMsgDto">
        select m.*,
               gu.user_id,
               gu.user_type
        from mms_chat_message as m
                 join mms_chat_group_user as gu on gu.group_id = #{groupId}
        where m.group_user_id = gu.id
        order by m.create_time desc
        limit 1
    </select>
    <select id="queryPageMessage" resultType="com.qdd.designmall.mbp.dto.MmsMsgDto">
        select m.*,
               gu.user_id,
               gu.user_type
        from mms_chat_message       as m
        join mms_chat_group_user    as gu
            on gu.group_id=#{groupId}
        where m.group_user_id = gu.id
    </select>
</mapper>
